<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to <%= title %></h1>
    <ul>
      <% for(let message of messages) { %>
        <li>
          <section class="card">
            <h4><%= message.user %></h4>
            <p><%= message.text %></p>
            <p><%= message.added %></p>
          </section>
        </li>
      <% } %>
    </ul>
  </body>
</html>
